**
!Dockerfile
!package.json
!LICENSE
!src/
!src/**
!bin/
!bin/**
!config/
!config/codex-service.toml
!config/task-checkpoint.container.example.json
!config/task-checkpoint.config.schema.json
!container/
!container/**
**/.env
**/.env.*
**/auth.json
**/*.sqlite*
**/*.jsonl
**/__pycache__
**/.DS_Store
**/.local
**/.local/**
**/.cache
**/.cache/**
**/.git
**/.git/**
**/workspace
**/workspace/**
**/node_modules
**/node_modules/**
**/dist
**/dist/**
**/coverage
**/coverage/**
**/*.db
**/*.db-shm
**/*.db-wal
